/* PhoneNumbersMF.css */
.dropdown {
  background: white;
  border: 1px solid lightGrey;
  display: block;
  overflow: hidden;
}

.dropDownItem {
  display: block;
  width: 100%;
  padding: 2px;
}

.inlineButton {
  cursor: pointer;
}

.inlineButton:hover {
  background: lightGray;
}