/* Main.css */
:root {
  /* Panels */
  --panel-bg-color: #efefef30;
  --panel-padding: 0 1.2rem 0;
  --panel-radius: 2px;
  --panel-border-bottom: 3px solid #e3e3e3;
  /* Sub heading */
  --subHeading-color: rgba(0,0,0,.62);
  --subHeading-font-size: 18px;
  --subHeading-font-weight: 600;
  --subHeading-margin: 1em auto;
  /* Sub 2 heading */
  --sub2Heading-color: rgba(0,0,0,.62);
  --sub2Heading-font-size: 2rem;
  --sub2Heading-font-weight: 600;
  --sub2Heading-margin: .5em auto .5em;
  /* Repeating blocks */
  --rpt-blocks-bg-color: #efefef30;
  --rpt-blocks-padding: .5em;
  --rpt-blocks-radius: 0;
  --rpt-blocks-border-bottom: none;
}