/* ContactInformationform */
.panels {
  background: var(--panel-bg-color);
  padding: 1.2rem 1.2rem 0;
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: .3rem auto 1em;
}

.panelsChild {
  background: #fefefe;
  padding: 1.2rem 1.2rem 0;
  border-radius: var(--panel-radius);
  border-bottom: 1px solid #e3e3e3;;
  &>row:not(:first-child) {
    padding-bottom:.5rem;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
  }
}

.subHeadingsChild {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: var(--subHeading-margin);
}