/* ContactPeopleForm.css */
.panels {
  background: #dddddd30;
  padding: 0 1rem 0;
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);
  &>row:not(:first-child) {
    padding-bottom:.5rem;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 3px solid #e3e3e3;
  }
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: var(--subHeading-margin);
}
