/* ContactPeopleForm.css */
.panels {
  background: #f9f9f9;
  padding: .5rem 1rem .5rem;
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);
  &>row:not(:first-child) {
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 3px solid #e3e3e3;
  }
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin-bottom: 8px;
}

.sub2Headings {
  color: var(--sub2Heading-color);
  font-size: var(--sub2Heading-font-size);
  font-weight: var(--sub2Heading-font-weight);
  margin-bottom: 8px;
}

.thinBorder, .thickBorder {
  border-color: '#f0f0f0';
}

.thickBorder {
  border-width: 0 0 1px;
}
