/* ContactPeopleView.css */
.horizontalLine {
  margin-bottom: 15px;
  padding-top: 10px;
  border: 5px solid #e6e6e6;
  padding: 10px;
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin-bottom: 8px;
}

.sub2Headings {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.rptBlocks {
  background: --rpt-blocks-bg-color;
  padding: rpt-blocks-padding;
  border-radius: --rpt-blocks-radius;
  margin-bottom: 17px;
}


